@model SocialNetworkMovies.Models.Permission

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Permission</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="FkIdRoleAllowed" class="control-label"></label>
                <select asp-for="FkIdRoleAllowed" class="form-control" asp-items="ViewBag.FkIdRoleAllowed"></select>
                <span asp-validation-for="FkIdRoleAllowed" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FkIdAction" class="control-label"></label>
                <select asp-for="FkIdAction" class="form-control" asp-items="ViewBag.FkIdAction"></select>
                <span asp-validation-for="FkIdAction" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StrState" class="control-label"></label>
                <input asp-for="StrState" class="form-control" />
                <span asp-validation-for="StrState" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateCreated" class="control-label"></label>
                <input asp-for="DateCreated" class="form-control" />
                <span asp-validation-for="DateCreated" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateLastChanged" class="control-label"></label>
                <input asp-for="DateLastChanged" class="form-control" />
                <span asp-validation-for="DateLastChanged" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
