@model SocialNetworkMovies.Models.Movie

@{
    ViewData["Title"] = "Movie Details";
}

<h1>MovieDetails</h1>

<div>
    <h4 id="title"></h4>
    <hr />
    <div class="actions">
        <button class="btn btn-link" id="addReview">New Review</button>
    </div>
    <div class="movieDetails">
    </div>
</div>
<div>
    <a asp-Controller="Home" asp-action="Index">Back to Movies List</a>
</div>

@section Scripts {
    <script type="text/javascript" src="~/js/Movies/details.js"></script>
}
