@model SocialNetworkMovies.Models.Movie

@{
    ViewData["Title"] = "Movie Details";
}

<h1>MovieDetails</h1>

<div>
    <h4 id="title"></h4>
    <hr />
    <div class="actions">
        <button class="btn btn-link" id="addReview">New Review</button>
        <button class="btn btn-link" id="addToUserList">Add to List</button>
        <button class="btn btn-link" hidden id="submitToUserList">Submit</button>
        <button class="btn btn-danger" hidden id="cancelUserList">Cancel</button>
        <select hidden class="form-select" id="userList" aria-label="Select a List">
        </select>
    </div>
    <div class="movieDetails">
    </div>
</div>
<div>
    <a asp-Controller="Home" asp-action="Index">Back to Movies List</a>
</div>

@section Scripts {
    <script type="text/javascript" src="~/js/Movies/details.js"></script>
}
