@model SocialNetworkMovies.Models.Review

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div class="movieInformation">
</div>
<div class="reviewDetails">
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    <script type="text/javascript" src="~/js/Review/details.js"></script>
}
