@model SocialNetworkMovies.Models.MovieList

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4 id="strNameList"></h4>
    <hr />
    <dl class="row">
        <dt class="col-sd-10">
            Movies
        </dt>
        <div id="movieDisplayer">
        </div>
        <dt class = "col-sm-2">
            Date Added
        </dt>
        <dd class = "col-sm-10" id="dateCreated">
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-controller="UserList" asp-action="Index">Back to User List</a>
</div>

@section Scripts {
    <script type="text/javascript" src="~/js/MovieList/details.js"></script>
}
