@{
ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="displayMovies">
        <p>Most popular Movies</p>
    </div>
</div>
<div class="text-center">
    <div class="displayNews row">
        <hr>
        <h4>Last Discussions</h4>
        <div class="displayDiscussions">
        </div>
        <hr>
        <h4>Last Reviews</h4>
        <div class="displayReviews">
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript" src="~/js/Movies/index.js"></script>
}
