@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="displayMovies">
        <p>Most popular Movies</p>
    </div>
</div>

@section Scripts {
    <script type="text/javascript" src="~/js/Movies/index.js"></script>
}
