@model SocialNetworkMovies.Models.UserList

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>UserList</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="StrName" class="control-label">List Name</label>
                <input asp-for="StrName" id="strListName" class="form-control" />
                <span asp-validation-for="StrName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" id="editUserList" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script type="text/javascript" src="~/js/UserList/edit.js"></script>
}
