@model IEnumerable<SocialNetworkMovies.Models.UserList>

    @{
    ViewData["Title"] = "Index";
    }

    <h1>Index</h1>

    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Nome da Lista
                </th>
                <th>
                    Data de Criação
                </th>
            </tr>
        </thead>
        <tbody id="tableLists">
        </tbody>
    </table>

    @section Scripts {
    <script type="text/javascript" src="~/js/UserList/index.js"></script>
    }
